@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply font-sans;
}


input[type="text"]:focus {
  background-color: #FFFFFF;
  color: #2D3748; 
  outline: none;
  box-shadow: 0 0 0 2px #4299E1; 
}